In [9]:
from utils.transformation import *

In [10]:
article_path = '../original/output_article.csv'
inproceeding_path = '../original/output_inproceedings.csv'
proceeding_path = '../original/output_proceedings.csv'
max_coauthor = 20
mentor_difference = 4

In [11]:
df_article = pre_processing(article_path, max_coauthor)
df_proceeding = pre_processing(proceeding_path, max_coauthor)
df_inproceeding = pre_processing(inproceeding_path, max_coauthor)

In [12]:
df_combine = pd.concat([df_article, df_proceeding, df_inproceeding], ignore_index=True)
df_combine

,id,author,title,year
0,2480034,"[Alejandro P. Buchmann, Frank Manola, Mark F. ...",Object Data Model Facilities for Multimedia Da...,1990
1,2480036,"[Farshad Nayeri, Joe D. Morrison, Mark F. Horn...","Integrating Heterogeneous, Autonomous, Distrib...",1991
2,2480040,"[Alejandro P. Buchmann, Dimitrios Georgakopoul...",Towards a Transaction Management System for DOM.,1991
3,2480041,"[Frank Manola, Sandra Heiler]",A 'RISC' Object Model for Object System Intero...,1993
4,2480042,"[Michael L. Brodie, Michael Stonebraker]",DARWIN: On the Incremental Migration of Legacy...,1993
...,...,...,...,...
3895357,7024690,"[Nabil R. Adam, Ramesh Subramanian]",Applying OOAD in the Design and Implementation...,1993
3895358,7024692,"[Dieter Fensel, Dieter Landes, Jürgen Angele, ...",Knowledge Engineering in the Context of Relate...,1991
3895359,7024694,"[Ramez Elmasri, Vram Kouramajian]",A Temporal Query Language For A Conceptual Model.,1993
3895360,7024698,"[Claus-Rainer Rollinger, Otthein Herzog]",Introducing LILOG.,1991
3895361,7024704,"[Jean-Claude Franchitti, Roger King]","Amalgame: A Tool for Creating Interoperating, ...",1993

In [13]:
edge_list = generate_edge_list(df_combine)
edge_list

                          source            target  year
0          Alejandro P. Buchmann      Frank Manola  1990
1          Alejandro P. Buchmann   Mark F. Hornick  1990
2                   Frank Manola   Mark F. Hornick  1990
3                 Farshad Nayeri   Joe D. Morrison  1991
4                 Farshad Nayeri   Mark F. Hornick  1991
...                          ...               ...   ...
21161012           Jürgen Angele   Susanne Neubert  1991
21161013             Rudi Studer   Susanne Neubert  1991
21161014           Ramez Elmasri  Vram Kouramajian  1993
21161015  Claus-Rainer Rollinger    Otthein Herzog  1991
21161016  Jean-Claude Franchitti        Roger King  1993

[21161017 rows x 3 columns]

In [14]:
df_author = generate_author_list(df_combine)
df_author

                       author  number_publication  year
0             H. Vincent Poor                1771  1978
1        Mohamed-Slim Alouini                1407  1997
2                Philip S. Yu                1284  1981
3                    Wei Wang                1284  1987
4                   Wei Zhang                1283  1990
...                       ...                 ...   ...
2308638       Ünsal Özkuvanci                   1  2012
2308639  Üyesi Mesut Atasever                   1  2019
2308640     Þröstur Pétursson                   1  2015
2308641       Þórir Harðarson                   1  2008
2308642  þorgerður Pálsdóttir                   1  2017

[2308643 rows x 3 columns]

In [15]:
mentor = find_mentor(df_author, edge_list, mentor_difference)
mentor

                       author  number_publication  year               mentor
0             H. Vincent Poor                1771  1978       John B. Thomas
1        Mohamed-Slim Alouini                1407  1997      Marvin K. Simon
2                    Wei Wang                1284  1987  Thomas C. Henderson
3                 Lajos Hanzo                1236  1993       Raymond Steele
4                Wen Gao 0001                1190  1995         Jiarong Hong
...                       ...                 ...   ...                  ...
1236795           Ümit Özlale                   1  2018         Gonca Gürsun
1236796         Ünsal Akaslan                   1  2016  Selami Serhatlioglu
1236797       Ünsal Özkuvanci                   1  2012           Sadik Kara
1236798  Üyesi Mesut Atasever                   1  2019     Witold Chmielarz
1236799  þorgerður Pálsdóttir                   1  2017     Andreas Karlsson

[1236800 rows x 4 columns]

In [16]:
edge_list.to_csv('edge_list.csv', index=None)
mentor.to_csv('author_mentor.csv', index=None)